@import "border-colors";
@import "hero";
@import "quick-flex";
@import "tabs";

.wrap {
    width: 100%;
    max-width: $screen-xl;
    margin: auto;
    box-sizing: border-box;
    padding: 0 40px;
}