@import "backgrounds";
@import "border-colors";
@import "flex";
@import "columns";
@import "hero";


.wrap {
    width: 100%;
    max-width: $screen-xl;
    margin: auto;
    box-sizing: border-box;
    padding: 40px;
}


.mrgBtm-0 {
    margin-bottom: 0;
}


.mrgBtm-30 {
    margin-bottom: 30px;
}


.mrgTop-0 {
    margin-top: 0;
}


.mrgTop-30 {
    margin-top: 30px;
}

