p {
    color: $black;
    font-family: $open-sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.7em;
    text-shadow: 0em 0em 0.3em #f9f9f9;
}

small {
    color: #333;
    font-family: $open-sans;
    font-size: 12px;
}