input {
    border: none;
    border-radius: 30px;
    margin: 8px auto;
    padding: 14px 12px;
    width: 80%;
    -webkit-appearance: none;
}


fieldset {
    border: none;
    margin: 0;
    padding: 0;
}