ul {
    list-style: none;
    padding: 0;
}


li {
    background: url("../assets/images/check_circle-24px.svg") left top no-repeat;
    background-size: 15px;
    font-family: $open-sans;
    font-size: 12px;
    line-height: 1.25em;
    margin-bottom: 1em;
    padding-left: 20px;
}

.cancel {
    li {
        background: url("../assets/images/cancel-24px.svg") left top no-repeat;
        background-size: 15px;
    }
}