.table {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 6px 12px 30px -6px #d8d8d8;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
}


.table__header {
    h2 {
        font-size: 60px;
        font-weight: 800;
        margin: 0;
    }
}


#basic {
    h2 {
        color: $secondary;
    }
}


#silver {
    h2 {
        color: $aqua;
    }


    li {
        &:before {
            color: $aqua;
        }
    }
}


#gold {
    h2 {
        color: $primary;
    }


    li {
        &:before {
            color: $primary;
        }
    }
}